# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Xcode / macOS
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/

# Misc
.idea/
.vscode/
node_modules/
*.log
